.dropdown {
    position: relative;
    display: inline-block;
}

.three-line {
    display: block;
    cursor: pointer;
}

.dropdown-content {
    position: absolute;
    bottom: 100%; /* Hiển thị menu phía trên */
    z-index: 1;
}

.dropup-content a {
    display: block;
    padding: 8px 16px;
}

.dropup:hover .three-line {
    background-color: white;
}
